:root {
  --toastify-color-success: #009fbd !important;
  --toastify-icon-color-success: var(--toastify-color-success);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .activeLink {
    @apply flex items-center gap-2 text-aqua-200 md:text-white md:bg-aqua-100 md:p-2 md:rounded-md md:text-base;
  }

  .notActive {
    @apply flex items-center gap-2 transition duration-500 hover:text-aqua-100 md:text-base md:bg-gray-200 md:p-2 md:rounded-md md:hover:bg-aqua-100 md:hover:text-white;
  }
}

body {
  background-color: rgb(241, 245, 249);
}
